<footer>
    <div class="footer-content">
        <p>Soleil is online sale website for fashion </p>
        <div class="socials">
            <a href="https://www.facebook.com/login/"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com/i/flow/login"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
            <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>

</footer>